@font-face{
	font-family:'font01';
	src:url('fonts/SpaceMono-Regular.ttf');
}
@font-face{
	font-family:'font02';
	src:url('fonts/SpaceMono-Bold.ttf');
}
/*--- GENERAL ----*/
.bg01{
	background:hsl(183, 100%, 15%);/* - Very dark cyan */
}
.bg02{
	background:hsl(186, 14%, 43%);/* - Dark grayish cyan */
}
.bg03{
	background:hsl(184, 14%, 56%);/* - Dark grayish cyan */
}
.bg04, body{
	background:hsl(185, 41%, 84%);/* - Light grayish cyan */
}
.bg05{
	background:hsl(189, 41%, 97%);/* - Light grayish cyan */
}
.bg06{
	background:hsl(0, 0%, 100%);/* - White */
}
.color01{
	color:hsl(183, 100%, 15%);/* - Very dark cyan */
}
.color02{
	color:hsl(186, 14%, 43%);/* - Dark grayish cyan */
}
.color03, ::placeholder{
	color:hsl(184, 14%, 56%);/* - Dark grayish cyan */
}
.color04{
	color:hsl(185, 41%, 84%);/* - Light grayish cyan */
}
.color05{
	color:hsl(189, 41%, 97%);/* - Light grayish cyan */
}
.color06{
	color:hsl(0, 0%, 100%);/* - White */
}
body{
	margin:0;
	font-family:'font01';
}
input{
	width:100%;
	border:0;
	padding:5px;
	text-align:right;
}
.size01{
	font-size:24px;
}
.font01{
	font-family:'font01';
}
.font02{
	font-family:'font02';
}
.text-center{
	text-align:center;
}
.border-radius01{
	border-radius:15px;
}
.border-radius02{
	border-radius:4px;
}
.margin01{
	margin-top:5px;
}
.margin02{
	margin-bottom:30px;
}
/*--- LOGO ----*/
#logo{
	margin:100px 0 50px 0;
}
/*--- MAIN ----*/
#main{
	background:#fff;
	margin:0 auto;
	width:90%;
	padding:30px;
}
/*--- TOP ----*/
#bill-dollar-sign{
	position:absolute;
	margin-top:17px;
	margin-left:17px;
}
