/*
	- Very dark cyan: hsl(183, 100%, 15%)
	- Dark grayish cyan: hsl(186, 14%, 43%)
	- Dark grayish cyan: hsl(184, 14%, 56%)
	- Light grayish cyan: hsl(185, 41%, 84%)
	- Light grayish cyan: hsl(189, 41%, 97%)
	- White: hsl(0, 0%, 100%)

*/
@font-face{
	font-family:'font01';
	src:url('fonts/SpaceMono-Regular.ttf');
}
@font-face{
	font-family:'font02';
	src:url('fonts/SpaceMono-Bold.ttf');
}
/*--- GENERAL ----*/
body{
	margin:0;
	font-family:'font01';
}
.font01{
	font-family:'font01';
}
.font02{
	font-family:'font02';
}
.text-center{
	text-align:center;
}
.bg01, body{
	background:hsl(185, 41%, 84%);
}
.border-radius01{
	border-radius:15px;
}
.color01{
	color:#777;
}
/*--- LOGO ----*/
#logo{
	margin:100px 0 50px 0;
}
/*--- MAIN ----*/
#main{
	background:#fff;
	margin:0 auto;
	width:70%;
	padding:30px;
}
/*--- TOP ----*/
